/* hide unneeded elements when opening suggestions */
/* this includes title-bar and the player's buttons (timer, play, pause etc) */
/* hide suggestions list when it's partially visible */
/* hide debug panel */
/*:not(.focused).pivot-shelf-list ,*/
.fresh-transport-controls.transport-controls,
.title-card.watch-title-tray,
.html5-video-info-panel {
    display: none !important;
}

/* Make suggestions' background transparent */

div.player,
div.loader-container,
body {
    background-color: transparent !important;
}

video {
    visibility: hidden !important;
}

/* End Make suggestions' background transparent */