/* hide title-bar */
/* hide player's buttons (progress bar, play, pause etc) */
/* hide debug panel */
.watch-title-tray,
#transport-controls.transport-controls,
.html5-video-info-panel {
    display: none !important;
}

/* Make suggestions' background transparent */

div.player,
div.loader-container,
body {
    background-color: transparent !important;
}

video {
    visibility: hidden !important;
}

/* End Make suggestions' background transparent */