/smartyoutubetv/src/commonSrc/V*
/smartyoutubetv/src/V*
*.hprof
/smartyoutubetv/release
log.txt
/android.keystore
/android-upd2.keystore
build.log
notes.txt
out.txt
deps.txt
logcat.txt
/releases
/files
/misc
/other
/TODO.txt
tmp/
*_bak*
*_tmp
*.bak*
/.idea
*.apk
*.7z
*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
build
/captures
.externalNativeBuild
fabric.properties
*BAK.java
