<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liskovsoft.smartyoutubetv">
    <!-- Leanback required fields -->
    <uses-feature android:name="android.software.leanback" android:required="false"/>
    <uses-feature android:name="android.hardware.touchscreen" android:required="false"/>
    <uses-feature android:name="android.hardware.faketouch" android:required="false"/>
    <uses-feature android:name="android.hardware.location.gps" android:required="false"/>
    <uses-feature android:name="android.hardware.microphone" android:required="false"/>
    <uses-feature android:name="android.hardware.sensor" android:required="false"/>
    <uses-feature android:name="android.hardware.camera" android:required="false"/>
    <!-- End Leanback required fields -->
    <application tools:node="merge"
                 android:allowBackup="true"
                 android:icon="@mipmap/ic_launcher"
                 android:banner="@mipmap/ic_banner"
                 android:label="@string/app_name"
                 android:supportsRtl="true">
        <!-- TODO: modified, DIAL integration for Amazon TV -->
        <meta-data android:name="whisperplay" android:resource="@xml/whisperplay"/>
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="2d068551b7d8e7635eb2fd339601762059ca0530"
        />
        <activity android:name=".SmartYouTubeTVActivity"
                  android:launchMode="singleTask"
                  android:alwaysRetainTaskState="true"
                  android:windowSoftInputMode="adjustResize"
                  android:configChanges="orientation|keyboardHidden|keyboard|screenSize|locale"
                  >
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
                <category android:name="android.intent.category.LEANBACK_LAUNCHER"/>
            </intent-filter>
            <!-- Pass url from other apps -->
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="http"/>
                <data android:scheme="https"/>
                <data android:host="youtube.com"/>
                <data android:host="www.youtube.com"/>
                <data android:host="m.youtube.com"/>
                <data android:host="youtu.be"/>
                <data android:pathPattern=".*"/>
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW"/>
                <action android:name="android.media.action.MEDIA_PLAY_FROM_SEARCH"/>
                <action android:name="android.nfc.action.NDEF_DISCOVERED"/>
                <category android:name="android.intent.category.DEFAULT"/>
                <category android:name="android.intent.category.BROWSABLE"/>
                <data android:scheme="vnd.youtube"/>
                <data android:scheme="vnd.youtube.launch"/>
            </intent-filter>
            <!-- End Pass url from other apps -->
        </activity>
    </application>

</manifest>