<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:tools="http://schemas.android.com/tools"
          package="com.liskovsoft.exoplayeractivity">

    <!-- NOTE: use older sdk -->
    <uses-sdk tools:overrideLibrary="
        com.google.android.exoplayer2,
        com.google.android.exoplayer2.ui,
        com.google.android.exoplayer2.source.dash,
        com.google.android.exoplayer2.source.hls,
        com.google.android.exoplayer2.source.smoothstreaming,
        com.google.android.exoplayer2.core,
        com.github.rubensousa.previewseekbar,
        com.github.rubensousa.previewseekbar.exoplayer,
        com.google.android.exoplayer2.ext.vp9,
        com.google.android.exoplayer2.ext.okhttp"/>

    <application>
        <!-- NOTE: exoplayer specific section -->
    </application>
</manifest>