/* hide unneeded elements when opening suggestions */
/* this includes the titlebar and the player's buttons (timer, play, pause etc) */
.fresh-transport-controls.transport-controls,
.title-card.watch-title-tray {
    display: none !important;
}

/* hide bg on the early stage */
video {
	-webkit-filter: brightness(0);
}

/* hide debug panel */
.html5-video-info-panel {
    display: none !important;
}