/* hide 'end cards' on the video */
/* hide icons in the bottom-right corner (like search) */
div#legend > div.search {
    display: none !important;
}

/* enable external keyboard (???) */
input {
    pointer-events: none;
    tab-index: -1;
}